<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Escáner de Red</title>
</head>
<body>
    <h1>Escáner de Red</h1>
    <form method="post">
        <button type="submit">Escanear Red</button>
    </form>

    {% if devices %}
        <h2>Dispositivos encontrados:</h2>
      <table>
  <thead>
    <tr>
      <th>IP</th>
      <th>MAC</th>
      <th>Fabricante</th>
      <th>Nombre del dispositivo</th>
    </tr>
  </thead>
  <tbody>
    {% for device in devices %}
      <tr>
        <td>{{ device.ip }}</td>
        <td>{{ device.mac }}</td>
        <td>{{ device.vendor }}</td>
        <td>{{ device.hostname }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

    {% endif %}
</body>
</html>
